[submodule "utils/lib/GluingFumens"]
	path = utils/lib/GluingFumens
	url = git@github.com:Marfung37/GluingFumens.git
[submodule "src/lib/utils/GluingFumens"]
	path = src/lib/utils/GluingFumens
	url = https://github.com/Marfung37/GluingFumens.git
